@font-face {
   font-family: 'Roboto';
   src: url("../../assets/fonts/roboto/Roboto-Bold.ttf") format('truetype');
   font-weight: bold;
   font-style: normal;
}

:root {
   --primary-font: 'Roboto', sans-serif;
}

body {
   color: #e8e8e8;
   font-family: var(--primary-font);
}

/* HomePage.css */

.hero {
   position: relative;
   display: flex;
   margin-left: 25vh;
   margin-top: 10vh;
}

.hero_intro {
   font-family: var(--primary-font);
   height: fit-content;
   width: auto;
   margin-top: 10%;
   margin-left: 10%;
}

.hero_intro h2 {
   font-size: 30px;
}

.hero_intro p {
   opacity: 70%;
   color: rgb(154, 154, 154);
}

.hero_content h2 span:first-child {
   display: block;
}

.hero_content h2 {
   font-family: var(--primary-font);
   font-weight: bold;
   width: 100%;
   height: auto;
   font-size: 34px;
}

.hero_image {
   width: 340px;
   height: auto;
   border-radius: 10px;
}

.hero_intro .msgBtn {
   font-family: var(--primary-font);
   padding: 6px 20px;
   font-size: 12px;
   font-weight: 500;
   border-radius: 6px;
   transition: background-color 0.5s;
}

.msgBtn:hover {
   background-color: #0e1212;
   border-color: #d8d8d8;
   border-width: 0.5px;
   color: #e8e8e8;
   border-radius: 6px;
}

.skills {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10vh;
   width: fit-content;
}

.skillset h2 {
   width: fit-content;
   height: auto;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: -50px;
   margin-top: 15vh;
}

.backend,
.frontend,
.database {
   width: 240px;
   margin: 5px;
   height: auto;
   background-color: bisque;
   background: rgb(61, 61, 61);
}