@font-face {
   font-family: 'Roboto';
   src: url("../../assets/fonts/roboto/Roboto-Bold.ttf") format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto-Italic';
   src: url("../../assets/fonts/roboto/Roboto-Italic.ttf") format('truetype');
   font-weight: italic;
   font-style: normal;
}

:root {
   --primary-font: 'Roboto', sans-serif;
   --secondary-font: 'Roboto-Italic'
}

body {
   color: #e8e8e8;
   font-family: var(--primary-font);
}

#particles {
   position: absolute;
   z-index: -1;
}

.hero-container {
   position: relative;
   display: flex;
   margin-inline: 20vh;
   margin-top: 10vh;
   scroll-snap-type: y mandatory;
}

.hero_intro {
   font-family: var(--primary-font);
   height: fit-content;
   width: auto;
   margin-top: 10%;
   margin-left: 10%;
}

.hero_intro h2 {
   font-size: 30px;
}

.hero_intro h3 {
   opacity: 70%;
   color: rgb(154, 154, 154);
}

.hero_content h2 span:first-child {
   display: block;
}

.hero_content h2 {
   font-family: var(--primary-font);
   font-weight: bold;
   width: 100%;
   height: auto;
   font-size: 34px;
}

.hero_image {
   width: 340px;
   height: auto;
   border-radius: 10px;
}

.hero_intro .msgBtn {
   font-family: var(--primary-font);
   padding: 6px 20px;
   font-size: 15px;
   font-weight: 0;
   border-radius: 6px;
   transition: background-color 0.5s;
}

.msgBtn {
   margin-right: 20px;
}

.msgBtn:hover {
   background-color: #0e1212;
   border-color: #d8d8d8;
   border-width: 0.5px;
   color: #e8e8e8;
   border-radius: 6px;
   cursor: pointer;
}

.button-link {
   font: bold 11px Arial;
   text-decoration: none;
   background-color: #EEEEEE;
   color: #333333;
   padding: 2px 6px 2px 6px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
}

.skills-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20vh;
}

.skills-title {
   font-size: 4vh;
   text-align: center;
   margin-bottom: 0;
   margin-top: 20vh;
}

.skills {
   scroll-snap-type: y mandatory;
   background-color: rgb(37, 38, 38);
   display: flex;
   font-size: 17px;
   margin-top: 20px;
   margin-inline: 10%;
   margin-bottom: 20%;
}

.skills h2 {
   padding-inline: 20px;
   cursor: pointer;
   width: fit-content;
}

.skills p {
   background-color: #333333;
   padding: 10px;
   width: 50%;
   position: absolute;
   left: 25%;
   transition: transform 0.6s ease-in-out;
}

.jobs-container {
   margin-bottom: 30vh;
   margin-top: 20vh;
   display: flex;
   flex-direction: column;
}

.jobs-title {
   font-size: 4vh;
   text-align: center;
}

.jobs {
   display: flex;
   flex-direction: row;
}

.jobs h2 {
   font-family: var(--secondary-font);
   background-color: #333333;
   margin-inline: auto;
   border-style: groove;
   border-radius: 15px;
   padding: 7vh;
}



@media (max-width: 768px) {
   .hero {
      flex-direction: column;
      margin-inline: 5%;
      margin-top: 5vh;
   }

   .hero_intro {
      text-align: center;
      margin-top: 5%;
      margin-left: 0;
      padding: 0 20px;
   }

   .hero_intro h2 {
      font-size: 22px;
   }

   .hero_intro p {
      font-size: 16px;
      padding-inline: 5%;
   }

   .hero_image {
      width: 40%;
      height: auto;
      margin-left: 30%;
   }

   .skills-container {
      margin-top: 15vh;
   }

   .skills-title {
      font-size: 4vh;
      margin-top: 40px;
   }

   .skills {
      font-size: 16px;
      width: 90%;
      margin-inline: auto;
      flex-direction: column;
   }

   .skills h2 {
      font-size: 18px;
   }

   .skills p {
      font-size: 14px;
      padding: 8px;
      width: auto;
      max-width: 100%;
      margin: 10px 0;
      position: static;
   }
}

@media (max-width: 375px) {
   .hero_intro h2 {
      font-size: 20px;
   }

   .msgBtn {
      font-size: 14px;
      padding: 10px 15px;
      padding-top: 5px;
   }

   .skills h2 {
      font-size: 16px;
   }

   .skills p {
      font-size: 12px;
   }
}